@using ByteInsights.Services

@inject IImageService imageService

@using Microsoft.AspNetCore.Identity
@inject UserManager<BlogUser> userManager

@using ByteInsights.ViewModels
@model PostDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @* Converts html code to presentable content
                    In other words it will allow the html code to render
                *@
                @Html.Raw(Model.Post.Content)
            </div>
            
        </div>
    </div>
</article>

<hr>
<article>
    <div class="row">
        <div class="col text-center fw-bold h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a asp-action="TagIndex" asp-route-tag="@tag" class="mb-1 btn btn-sm btn-warning btn-outline-dark">#@tag</a>
            
            }
        </div>
    </div>
</article>
<hr>

@* Comments related to this post *@
<div>
     @* Checks if the User is logged-in *@
    @if(User.Identity.IsAuthenticated)
    {
        <form asp-controller="Comments" asp-action="Create" method="post">
            @* 
                1 thing we want to embed into the form is the foreign key
                so that we can point back into the post 
            *@
            @Html.Hidden("PostId", Model.Post.Id)


            <div class="form-group m-2">
                <label class="h2 control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
                <button type="submit" class="btn btn-primary w-100 btn-stylish my-2">Submit</button>
            </div>



            
        </form>
    }
    else
    {
        <a class="btn w-100 btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
            Login to add comments
        </a>
    }
</div>

@* Display the image of the comments author *@

<br />
<hr class="card-hr" />
<br />

<div id="commentSection" class="w-100 mb-2 bg-primary text-center text-light">@Model.Post.Comments.Count COMMENT(S)</div>

@foreach (var comment in Model.Post.Comments)
{
    <div class="media media-border p-3 mb-2 bg-light">
        <img class="mr-3 mt-3 rounded-pill img-thumbnail" style="width:60px;" src="@imageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)" alt="@comment.BlogUser.DisplayName" />

        <div class="media-body clearfix">
            <h4>@comment.BlogUser.FullName</h4>
            <small><i>Posted on: @comment.Created?.ToString("dd/MM/yyyy")</i></small>
            <p>@comment.Body</p>

            @* If Comment not moderated   and comment not deleted    and comment is written by the logged in user *@
            @if (comment.Moderated is null && comment.Deleted is null && comment.BlogUserId == userManager.GetUserId(User))
            {
                <hr>
                <button data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-stylish btn-primary float-end fw-bold">EDIT</button>
            }


        </div>
    </div>

    @*Modals*@
    <div class="modal" id="editModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header-->
                <div class="modal-header">
                    <h4 class="modal-title">Editing Comment...</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form asp-action="Edit" asp-controller="Comments">
                        @Html.Hidden("Id", comment.Id) 
                        <!--

                        Primary of the comment 
                        A unique piece of information to identify this comment
                        -->

                        <div class="form-group">
                            <textarea name="Body" class="form-control" required>@comment.Body</textarea>
                        </div>

                        <button class="btn btn-stylish btn-primary btn-sm border-success fw-bold" type="submit">SUBMIT</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-stylish btn-primary btn-sm fw-bold" data-bs-dismiss="modal">CLOSE</button>
                </div>

            </div>
        </div>
    </div>

    
}




